<h1 class="user_header"><%= @user.name %>のページ</h1>
<% if @user.id == current_user.id %>
  <%= link_to 'プロフィールの編集', edit_user_path(@user.id), data: { confirm: '本当に編集していいですか？' } %>
  <%= link_to 'アカウントの削除', user_path(@user.id),method: :delete, data: { confirm: '本当に削除していいですか？' } %>
<% end %>
<%= link_to '掲示板に戻る',posts_path %>
