// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$pc: 1500px; // PC
$tab: 770px; // タブレット
$sp: 480px;  // スマホ

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

.category_search{
  display: inline-block;
}

.search_area{
  margin:auto;
  @include pc{
    width:32%;
  };
  @include tab{
    width:60%;
  };
  @include sp{
    width:84%;
  };
}

.post_header{
  text-align:center;
  margin-top:20px;
}

.search_form{
  margin: auto;
  margin-top:20px;
  @include pc{
    width: 20%;
  };
  @include tab{
    width:50%;
  };
  @include sp{
    width: 50%;
  };
}

.post_box{
  position: relative;
  background: #ffe5da;
  box-shadow: 0px 0px 0px 5px #ffe5da;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
  color: #454545;
  margin:auto;
  margin-bottom:30px;
  margin-top:30px;
  @include pc{
    height:250px;
    width:60%;
  };
  @include tab{
    height:270px;
    width:90%;
  };
  @include sp{
    height:280px;
    width:85%;
  };
}

.post_box:after{
  position: absolute;
  content: '';
  right: -7px;
  top: -7px;
  border-width: 0 15px 15px 0;
  border-style: solid;
  border-color: #ffdb88 #fff #ffdb88;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}
.post_box p {
    margin: 0;
    padding: 0;
}

.comment_form{
  height:200px;
  @include pc{
    width:70%;
    margin-left:250px;
  };
  @include tab{
    width:80%;
    margin-left:85px;
  };
  @include sp{
    width:90%;
    margin-left:20px;
  };
}

.actions{
  @include pc{
    width:10%;
    margin:auto;
    margin-top:30px;
    margin-bottom:20px;
  };
  @include tab{
    width:10%;
    margin:auto;
    margin-top:30px;
    margin-bottom:20px;
  };
  @include sp{
    width:25%;
    margin:auto;
    margin-top:30px;
    margin-bottom:20px;
  };
}

.back_button{
  margin:auto;
  @include pc{
    width:15%;
  };
  @include tab{
    width:25%;
  };
  @include sp{
    width:50%;
  };
}

.post_text{
  margin:auto;
  margin-top:30px;
  margin-bottom:50px;
  height:150px;
  @include pc{
    width:88%;
    margin-left:80px;
  };
  @include tab{
    width:88%;
    margin-left:50px;
  };
  @include sp{
    width:94%;
    margin-left:11px;
  };
}

.category_list{
  marign:20px;
  display: inline-block;

}

.buttons{
  margin:auto;
  @include pc{
    width:60%;
  };
  @include sp{
    width:57%;
  };
}

.create_button{
  margin:auto;
  margin-top:30px;
  @include pc{
    width:14%;
  };
  @include tab{
    width:20%;
  };
  @include sp{
    width:45%;
  };
}

.search_buttons{
  width:50%;
  margin:auto;
  margin-top:20px;
}

.search_button{
  @include pc{
    margin-right: 30px;
  };
  @include sp{
    margin-bottom:10px;
  };
}
//
// .create_buttons{
//   @include pc{
//     display: flex;
//   };
//   @include tab{
//
//   };
//   @include sp{
//   
//   };
// }
