// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$pc: 1500px; // PC
$tab: 770px; // タブレット
$sp: 480px;  // スマホ

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

.user_header{
  text-align: center;
  margin-bottom:20px;
  margin-top:20px;
}

// loginとuser_formの項目のフィールド幅調整
.user_form{
  margin:auto;
  @include pc{
    width:50%;
  };
  @include tab
  {
    width:70%;
  };
  @include sp{
    width:80%;
  };
}

.create_account{
  margin-top:20px;
}

// show 編集、削除ボタン
.user_buttons{
  margin:auto;
  margin-top:30px;
  margin-bottom:20px;
  display: flex;
  @include pc{
    width:28%;
  };
  @include tab{
    width:45%;
  };
  @include sp{
    width:85%;
  };
}

.back_index{
  margin:auto;
  @include pc{
    width:12%;
  };
  @include tab{
    width:16%;
  };
  @include sp{
    width:30%;
  };
}

// show 編集、削除ボタンに余白を
.edit_button{
  margin-right:20px;
}

.guest_login{
  margin:auto;
  margin-top:30px;
  @include pc{
    width:50%;
  };
  @include tab{
    width:70%;
  };
  @include sp{
    width:80%;
  };
}
